@charset "utf-8";

button:disabled {
  opacity: 0.5;
}

input:disabled {
  opacity: 0.5;
}

label.disabled {
  color: #ccc;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  height: 100%;
}

#snippetName {
  width: 25em;
}

#html_src {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  flex: 1;
}

#html_src > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

textarea {
  font-family: MeiryoKe_Gothic, "Ricty Diminished", "Osaka－等幅", "Osaka-等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", monospace;
  flex: 1;
}

webview {
  border: 1px solid #ccc;
  flex: 1;
}
